@media screen and (max-width: 1370px)
  body
    background: #100A15 url("../img/noise.png") repeat 50% 0/cover
  //.header
  //  background: url("../img/noise.png") repeat 50% 0/cover
  //.participate
  //  background: url("../img/noise.png") repeat 50% 0/cover
  .header
    position: relative
    &::before
      content: ''
      position: absolute
      width: 490px
      height: 490px
      background: #8225FF
      filter: blur(225px)
      z-index: -1
      pointer-events: none
      top: -172px
      left: -100px
    &::after
      content: ''
      position: absolute
      width: 490px
      height: 490px
      background: #8225FF
      filter: blur(225px)
      z-index: -1
      pointer-events: none
      top: -208px
      right: -138px
  .faq
    position: relative
    &::before
      content: ''
      position: absolute
      width: 490px
      height: 490px
      background: #8225FF
      filter: blur(225px)
      z-index: -1
      pointer-events: none
      top: 373px
      left: -286px
  .tour
    position: relative
    &::after
      content: ''
      position: absolute
      width: 490px
      height: 490px
      background: #8225FF
      filter: blur(225px)
      z-index: -1
      pointer-events: none
      top: 270px
      right: -316px
  .support
    position: relative
    &::before
      content: ''
      position: absolute
      width: 490px
      height: 490px
      background: #8225FF
      filter: blur(225px)
      z-index: -1
      pointer-events: none
      bottom: -255px
      left: -223px


@media screen and (max-width: 1275px)
  .participate
    &__image
      transform-origin: left center
      transform: scale(0.9)
  .support
    &__linked
      &-list
        flex-direction: column
        align-items: flex-start
      &-item
        &:not(:last-child)
          margin: 0 0 20px 0

@media screen and (max-width: 1200px)
  .header
    padding: 30px 0 45px 0
    &::after
      top: 466px
  .participate
    &__container
      display: flex
      flex-direction: column
      align-items: center
      &::before
        width: 70%
    &__ready
      order: 0
      position: relative
      z-index: 7
    &__image
      order: 1
      .cat
        left: -127px
      &-text
        left: auto
        right: -5px
        bottom: 17px
    &__time
      align-self: flex-start
    &__info
      max-width: 623px
      order: 2
    &__link
      order: 3
  .faq
    padding: 80px 0 100px
    &__item
      &:not(:last-child)
        margin: 0 44px 0 0

@media screen and (max-width: 1050px)
  .header
    &__button
      margin-top: 15px
  .faq
    &__title
      text-align: center
      max-width: 623px
      margin: 0 auto 60px auto
    &__list
      flex-direction: column
      align-items: center
    &__item
      max-width: 623px !important
      &:not(:last-child)
        margin: 0 0 40px 0
  .tour
    padding: 0 0 100px 0
    &__info
      max-width: 623px
    &__title
      text-align: center
    &__row
      flex-direction: column
      align-items: center
    &__table
      margin: 0 0 40px 0
  .support
    padding: 0 0 90px 0
    &__container
      flex-direction: column
      align-items: center
    &__social
      margin: 0 0 50px 0
      max-width: 623px
    &__linked
      max-width: 623px
  .tableResult
    max-width: 623px
  .tableHead,
  .tableRow
    width: 623px

@media screen and (max-width: 700px)
  .header
    &::after
      right: -487px
    &::before
      left: -351px
    padding: 30px 0 30px 0
    &__logo
      &-bao
        max-width: 64px
        margin: 0 20px 0 0
      &-alfaleads
        max-width: 94px
    &__button
      font-size: 14px
      line-height: 17px
  .participate
    &__time
      font-size: 18px
      line-height: 22px
      margin: 0 0 6px 0
    &__title
      font-size: 38px
      line-height: 46px
      margin: 0 0 10px 0
    &__ready
      margin: 0 0 -10px 0
      align-items: flex-start
      max-width: 100%
      width: 100%
    &__image
      margin: 0 0 20px 0
      &-text
        left: auto
        right: -5px
      &-star
        top: -6px
        width: 413px
        height: 280px
    &__info
      margin: 0 0 30px 0
    &__link
      font-size: 18px
      line-height: 37px
      padding: 9px 97px 11px
      position: relative
      z-index: 10
  .faq
    padding: 75px 0 60px 0
    &__title
      font-size: 22px
      line-height: 30px
      margin: 0 0 30px 0
      text-align: start
    &__item
      &:not(:last-child)
        margin: 0 0 30px 0
      &-number
        width: 80px
        height: 80px
        font-size: 30px
        line-height: 36px
        margin: 0 0 10px 0
      &-text
        font-size: 15px
        line-height: 28px
  .tableResult
    max-width: 100%
  .tableHead,
  .tableRow
    width: 100%
    &__id,
    &__score
      font-size: 16px
      line-height: 19px
  .tableHead
    padding: 12px 20px 10px
    margin: 0 0 2px 0
  .tableRow
    padding: 12px 20px 10px
    &:not(:last-child)
      margin: 0 0 2px 0
  .tour
    padding: 0 0 65px 0
    &__table
      width: 105%
      margin: 0 0 50px 0
    &__title
      text-align: left
      font-size: 22px
      line-height: 30px
      margin: 0 0 20px 0
    &__subtitle
      font-size: 22px
      line-height: 30px
      margin: 0 0 20px 0
    &__text
      font-size: 15px
      line-height: 28px
      margin: 0 0 44px 0
    &__prize
      font-size: 20px
      line-height: 30px
      margin: 0 0 30px 0
    &__link
      font-size: 18px
      line-height: 37px
      padding: 9px 97px 11px
  .support
    padding: 0 0 50px 0
    &__social
      margin: 0 0 65px 0
      &-text
        font-size: 20px
        line-height: 30px
        margin: 0 0 20px 0
    &__item
      transform: scale(0.8)
      margin: 0 !important
    &__linked
      &-text
        font-size: 20px
        line-height: 30px
        margin: 0 0 30px 0
      &-item
        padding: 17px 15px 15px
        p
          font-size: 16px
          line-height: 18px
        img
          max-width: 22px
          margin: 0 10px 0 0

@media screen and (max-width: 640px)
  .participate
    &__image
      transform-origin: right center
      transform: scale(0.8)
      position: relative
      right: 40px
      margin: -25px 0

@media screen and (max-width: 550px)
  .participate
    &__image
      transform: scale(0.7)
      position: relative
      right: 40px
      margin: -50px 0
    &__container
      &::before
        width: 100%
        right: 0
        top: -90px

@media screen and (max-width: 430px)
  .header
    &::after
      right: -516px
    &::before
      left: -462px
    padding: 30px 0 30px
  .faq
    &::before
      left: -490px
  .participate
    &__image
      transform: scale(0.6)
      position: relative
      right: 70px
      margin: -75px 0
    &__link
      width: 100%
      padding: 9px 15px 11px
      text-align: center
  .tour
    &::after
      right: -569px
    &__table
      width: 110%
    &__link
      width: 100%
      padding: 9px 15px 11px
      text-align: center

@media screen and (max-width: 370px)
  .participate
    &__image
      transform: scale(0.5)
      position: relative
      right: 95px
      margin: -100px 0
    .participate
      &__title
        font-size: 32px
      &__text
        font-size: 20px
      line-height: 23px



