.wrapper
    header.header
        .header__container
            ul.header__logo
                li.header__logo-bao
                    img(src='img/logo.svg' alt='bao')
                li.header__logo-alfaleads
                    img(src='img/logo-two.svg' alt='alfaleads')
            a(href='page-two.html').header__button English
    main.main
        section.participate
            .participate__container
                .participate__ready
                    .participate__time 30.11 - 28.12
                    h1.participate__title Ready-set-UP
                    p.participate__text Арбитражный турнир
                .participate__info
                    p.
                        Alfaleads и Bao Casino запускают турнир среди арбитражных команд
                    p.
                        Участвуйте в событии, получайте повышенные #[span выплаты +$40], а также шанс выиграть #[span iPhone 14 pro!]
                    p.
                        Готовы показать все, на что способны? #[span Тогда вперед!]
                a(href='#').participate__link Участвовать
                .participate__image
                    .participate__image-star
                    .participate__image-text Выплаты #[br] +$40
                    picture
                        source(media="(min-width: 551px)" srcset="img/iphone.png")
                        source(media="(min-width: 180px) and (max-width: 550px)" srcset="img/phone-mob.png")
                        img(src="img/iphone.png" alt="bao-cat").phone
                    picture
                        source(media="(min-width: 551px)" srcset="img/cat-min-desc.png")
                        source(media="(min-width: 180px) and (max-width: 550px)" srcset="img/cat-min-mob.png")
                        img(src="img/cat-min-desc.png" alt="bao-cat").cat
        section.faq
            .faq__container
                h2.faq__title Как будет проходить турнир?
                ul.faq__list
                    li.faq__item
                        .faq__item-number 1
                        .faq__item-text Ready – каждому участнику предоставляется объем в 40 FTD на ряд офферов с повышенной ставкой в $40+

                    li.faq__item
                        .faq__item-number 2
                        .faq__item-text Set – вебмастеры начинают пролив, а мы – проверку качества трафика

                    li.faq__item
                        .faq__item-number 3
                        .faq__item-text UP – те, кто не сошел с дистанции, проходят в финал, а повышенная ставка сохраняется до 250 FTD
        section.tour
            .tour__container
                h2.tour__title Турнирная таблица
                .tour__row
                    .tour__table
                        .tableResult
                            .tableHead
                                .tableHead__id PID
                                .tableHead__score FTD
                            .tableRow
                                .tableRow__id 100000
                                .tableRow__score 1000000
                            .tableRow
                                .tableRow__id 100000
                                .tableRow__score 1000000
                            .tableRow
                                .tableRow__id 100000
                                .tableRow__score 1000000
                            .tableRow
                                .tableRow__id 100000
                                .tableRow__score 1000000
                            .tableRow
                                .tableRow__id 100000
                                .tableRow__score 1000000
                            .tableRow
                                .tableRow__id 100000
                                .tableRow__score 1000000
                            .tableRow
                                .tableRow__id 100000
                                .tableRow__score 1000000
                    .tour__info
                        h3.tour__subtitle Кто может участвовать?
                        p.tour__text Любой вебмастер, зарегистрированный в партнерской программе Alfaleads
                        p.tour__prize Все финалисты автоматически становятся участниками розыгрыша #[span iPhone 14 pro!] Его владельца определим с помощью рандомной лотереи.
                        a(href='#').tour__link Участвовать
        section.support
            .support__container
                .support__social
                    p.support__social-text Итоги подведем после #[span 28 декабря], следите за обновлениями в наших соцсетях
                    ul.support__list
                        li.support__item
                            a(href='#').support__link
                            img(src='img/insta.svg' alt='instagram')
                        li.support__item
                            a(href='#').support__link
                            img(src='img/facebook.svg' alt='facebook')
                        li.support__item
                            a(href='#').support__link
                            img(src='img/in.svg' alt='in')
                .support__linked
                    .support__linked-text За подробностями обращайтесь к #[span Customer care team Alfaleads]
                    ul.support__linked-list
                        li.support__linked-item
                            a(href='https://t.me/alfa_sup').support__linked-link
                            img(src='img/telegram.svg' alt='telegram')
                            p alfa_sup

                        li.support__linked-item
                            a(href='mailto:info@alfaleads.net').support__linked-link
                            img(src='img/mail.svg' alt='mail')
                            p info@alfaleads.net






