.wrapper
    header.header
        .header__container
            ul.header__logo
                li.header__logo-bao
                    img(src='img/logo.svg' alt='bao')
                li.header__logo-alfaleads
                    img(src='img/logo-two.svg' alt='alfaleads')
            a(href='index.html').header__button Russian
    main.main
        section.participate
            .participate__container
                .participate__ready
                    .participate__time 30.11 - 28.12
                    h1.participate__title Ready-set-UP
                    p.participate__text Arbitrage tournament
                .participate__info
                    p.
                        Alfaleads and Bao Casino launch a tournament among arbitrage teams
                    p.
                        Take part in the event, get increased  #[span payments +$40], and chance to win #[span iPhone 14 pro!]
                    p.
                        Are you ready to show everything you can? #[span Then let’s go! ]
                a(href='#').participate__link Take part
                .participate__image
                    .participate__image-star
                    .participate__image-text payments #[br] +$40
                    picture
                        source(media="(min-width: 551px)" srcset="img/iphone.png")
                        source(media="(min-width: 180px) and (max-width: 550px)" srcset="img/phone-mob.png")
                        img(src="img/iphone.png" alt="bao-cat").phone
                    picture
                        source(media="(min-width: 551px)" srcset="img/cat-min-desc.png")
                        source(media="(min-width: 180px) and (max-width: 550px)" srcset="img/cat-min-mob.png")
                        img(src="img/cat-min-desc.png" alt="bao-cat").cat
        section.faq
            .faq__container
                h2.faq__title How will the tournament be held?
                ul.faq__list
                    li.faq__item
                        .faq__item-number 1
                        .faq__item-text Ready – each participant is provided with a volume of 40 FTD for a number of offers with an increased bet of $40+

                    li.faq__item
                        .faq__item-number 2
                        .faq__item-text Set – webmasters start the flow, and we - check the quality of traffic

                    li.faq__item
                        .faq__item-number 3
                        .faq__item-text UP – those who have not leave the race go to the final, and the increased rate remains until 250 FTD
        section.tour
            .tour__container
                h2.tour__title Tournament table
                .tour__row
                    .tour__table
                        .tableResult
                            .tableHead
                                .tableHead__id PID
                                .tableHead__score FTD
                            .tableRow
                                .tableRow__id 100000
                                .tableRow__score 1000000
                            .tableRow
                                .tableRow__id 100000
                                .tableRow__score 1000000
                            .tableRow
                                .tableRow__id 100000
                                .tableRow__score 1000000
                            .tableRow
                                .tableRow__id 100000
                                .tableRow__score 1000000
                            .tableRow
                                .tableRow__id 100000
                                .tableRow__score 1000000
                            .tableRow
                                .tableRow__id 100000
                                .tableRow__score 1000000
                            .tableRow
                                .tableRow__id 100000
                                .tableRow__score 1000000
                    .tour__info
                        h3.tour__subtitle Who can take part?
                        p.tour__text Any webmaster who is registered in the Alfaleads affiliate program
                        p.tour__prize All finalists automatically become participants in the iPhone 14 pro draw! We will determine its owner using a randomizer.
                        a(href='#').tour__link Register
        section.support
            .support__container
                .support__social
                    p.support__social-text We will sum up the results after #[span December 28], follow the updates in our social media
                    ul.support__list
                        li.support__item
                            a(href='#').support__link
                            img(src='img/insta.svg' alt='instagram')
                        li.support__item
                            a(href='#').support__link
                            img(src='img/facebook.svg' alt='facebook')
                        li.support__item
                            a(href='#').support__link
                            img(src='img/in.svg' alt='in')
                .support__linked
                    .support__linked-text You can always ask details our #[span Customer care team Alfaleads]
                    ul.support__linked-list
                        li.support__linked-item
                            a(href='https://t.me/alfa_sup').support__linked-link
                            img(src='img/telegram.svg' alt='telegram')
                            p alfa_sup

                        li.support__linked-item
                            a(href='mailto:info@alfaleads.net').support__linked-link
                            img(src='img/mail.svg' alt='mail')
                            p info@alfaleads.net






